@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --colorFondo: rgb(48,48,48);
    --miPurpura: rgba(125,18,130,1);
    --colorHover: rgba(45,25,50,1);
    --colorlogo: rgb(183, 34, 94);
    --miBlanco: #f1f1f1;
    --miNegro: #212121;
}

.marcoFilm{
    display: flex;
    flex-flow: wrap;
    margin-left: 73px;
    margin-right: 73px;
    margin-top: 20px;
    /* background-color: rgb(215, 76, 30); */
}

.marcoInfo{
    /* background-color: aqua; */
    width: 767px;
    text-align: center;

    
}

.tituloFilm{
    margin: 0px;
    font-size: 1.8rem;
    font-weight: 900;
    text-shadow: 2px 2px 6px rgb(21, 21, 21);
    color: var(--miBlanco);
    font-family: 'Poppins', sans-serif;
}

.imgfilm{
    width: 350px;
    height: 500px;
}

.line1, .line2{
    color: var(--miBlanco);
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.imdb{
    border-radius: 5%;
    margin: 10px;
    height: auto;
    width: 50px;
    cursor: pointer;
}

.yt{
    margin: 10px;
    height: auto;
    width: 50px;
    cursor: pointer

}

#añadirComentario{
  /* margin-top: 5px; */
  margin: 10px;
  color: var(--miBlanco);
  font-size: 2.5rem;
  gap: 5px;
  cursor: pointer;
}

.iconos{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#like{
  color: var(--miBlanco);
  font-size: 1.2rem;
  gap: 5px;
  cursor: pointer;
}

.marcoComentarios{
  height: 300px;
  overflow-y: scroll;
}

.marcoComentarios::-webkit-scrollbar {
  width: 16px;
}

.marcoComentarios::-webkit-scrollbar-track {
  background-color: var(--colorHover);
  border-radius: 100px;
}

.marcoComentarios::-webkit-scrollbar-thumb {
  background-color: var(--miPurpura);
  border-radius: 100px;
}

.marco1Comentario{
  margin: 1rem 2rem 0 2rem;
  text-align: justify;
  text-justify: distribute;
  color: var(--miBlanco);
  font-family: 'Poppins', sans-serif;
}

.tituloComentario{
  text-shadow: 2px 2px 6px rgb(21, 21, 21);
  font-weight: 800;
  font-size: 0.92rem;
  text-align: left;
}

.autor{
  font-size: 0.7rem;
  text-align: left;

}

.comentarioFilm{
  font-size: 0.8rem;
  text-justify: inter-ideograph;
  text-align: justify;
}

.popup-content {
    place-items: center;
    background: var(--colorHover);
    width: auto;
    padding: 5px;
    margin-top: 150px;
    margin-left: 150px;
  }
  .popup-arrow {
    display: none;
    color: var(--colorHover);
  }
  [role='tooltip'].popup-content {
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: var(--miBlanco);
    opacity: 30%;
  }

  

