@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --colorFondo: rgb(48,48,48);
    --miPurpura: rgba(125,18,130,1);
    --colorHover: rgba(45,25,50,1);
    --colorlogo: rgb(183, 34, 94);
    --miBlanco: #f1f1f1;
    --miNegro: #212121;
}

.marcoRandon10{
    display: flex;
    flex-flow: wrap;
    margin-left: 60px;
    margin-right: 60px;
}

.cineh2, h2 {
    margin-left: 77px;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--miBlanco);
    font-family: 'Shadows Into Light';
}

.card {
    width: 200px;
    height: 300px;
    box-shadow: 2px 6px 8px 2px #212121;
    margin: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--miBlanco);
    text-align: center;
    cursor: pointer;
   }

.img{
    width: 200px;
    height: 300px;
}

.title {
    padding-top: 10px;
    font-size: 1.1rem;
}

.year{
    font-size: 0.8rem;
}

.cineh2{
    text-align: left;
    margin-left: 77px;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--miBlanco);
    font-family: 'Shadows Into Light';
}

@media screen and (max-width: 769px){
    
    .card {
        width: 200px;
        height: 300px;
        box-shadow: 2px 6px 8px 2px #212121;
        margin: 1rem;
        margin-top: 3.8rem;
        font-family: 'Poppins', sans-serif;
        color: var(--miBlanco);
        text-align: center;
        cursor: pointer;
       }
}