@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --colorFondo: rgb(48,48,48);
    --miPurpura: rgba(125,18,130,1);
    --colorHover: rgba(45,25,50,1);
    --colorlogo: rgb(183, 34, 94);
    --miblanco: #f1f1f1;
  }

.App-logo{
    height: 25px;
    width: auto;
    
    /* margin-top: 50px; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    background: var(--miPurpura);
    /* padding: 20px 40px; */
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0,06);

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    /* font-weight: 900; */
    color: var(--miblanco);
    font-family: 'Shadows Into Light', cursive;
    transition: 300ms ease-in-out;

}

#navbar li a:hover,
#navbar li a.active{
    color: var(--colorHover);

}

#mobile{
    display: none;
}

#mobile i {
    color: #f1f1f1;
    align-items: center;
}

.search{
    display: inline-block;
    
}

@media screen and (max-width: 769px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 65px;
        right: -150px;
        width: 150px;
        height: 100vh;
        background: var(--colorlogo);
        box-shadow: 0 40px 60px rgba(0, 0, 0,  0.1);
        padding: 40px 0 0 10px;
        transition: 400ms ease-in-out;
        z-index: 999;
        opacity: 75%;

    }

    #navbar.active {
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: block;

    }

    #mobile i{
        font-size: 24px;
        cursor: pointer;
    }
}

